.home-container {
  height: 100vh;
  width: 100vw;
  background-color: #DDB8A6;
  /* background-image: linear-gradient(to center, #d49b7e 0%, #ddb8a6 50%, #d49b7e 100%); */
}

.nav-container {
  background-image: linear-gradient(to bottom, #d49b7e 0%, #ddb8a6 95%);
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #D49B7E solid;
  color: #893504;
}

h3 {
  height: 50%;
  margin: 2%;
}

.nav-link-container {
  height: 90%;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.link {
  height: 25%;
  background-color: transparent;
  border: none;
  color: #893f04;
  font-size: large;
  font-weight: bolder;
}

.main-container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #893f04;
}

.info-section {
  height: 70%;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
}

.info-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 70%;
}

.hello {
  height: 10%;
  font-size: xx-large
}

.intro {
  height: 5%;
  font-size: x-large;
}

.blurb {
  width: 100%;
  font-size: 1.33em;
}

.circle-link-container {
  height: 30%;
  width: 81%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circle {
  height: 90%;
  width: 20%;
  border-radius: 50%;
  margin: 5%;
  background-color: #c67f43;
  border: #893f04;
  color: #893f04;
  font-size: 1.5em;
  text-align: center;
  font-weight: 800;
}

.image-section {
  height: 80%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.image {
  background-image: url('/public/assets/MT.png');
  height: 80%;
  border-radius: 50%;
  width: 75%;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin-left: 2%; */
  border: 5px solid #d49b7e
}

.footer-container {
  background-image: linear-gradient(to top, #d49b7e 0%, #ddb8a6 95%);
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-top: 7%; */
  border-top: 2px solid #D49B7E;
}

@media (max-width: 1086px) {
  .nav-container {
    flex-direction: column;
    height: 10%;
  }

  .nav-link-container {
    align-items: center;
  }
  .main-container {
    flex-direction: column;
  }

  .info-section {
    width: 90%;
    align-items: center;
  }

  .circle-link-container {
    width: 100%;
  }

  .image-section {
    width: 70%;
    align-items: flex-end;
  }

  .circle {
    width: 28%;
  }
}

@media (max-width: 786px){
  .nav-container {
    height: 8%;
    justify-content: flex-start;
  }

  h3 {
    margin: 1%;
  }

  .main-container {
    height: 90%;
  }

  .footer-container {
    height: 5%;
  }

  .info-section {
    width: 98%;
    height: 60%;
  }

  .image-section {
    width: 98%;
    height: 40%;
  }

  .circle {
    width: 30%;
    justify-content: center;
  }
}