.home-container {
  height: 100vh;
  width: 100vw;
  background-color: #DDB8A6;
}

.nav-container {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px #D49B7E solid;
}

h3 {
  height: 50%;
  /* width: 15%; */
}

.nav-link-container {
  height: 50%;
}

.main-container {
  height: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-section {
  height: 50%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hello {
  height: 15%;
}

.intro {
  height: 5%;
}

.blurb {
  height: 10%;
}

.circle-link-container {
  height: 20%;
  display: flex;
  flex-direction: row;
}

.circle {
  height: 90%;
  width: 30%;
}

.image-section {
  height: 80%;
  width: 52%;
  display: flex;
}

.image {
  background-image: url('/public/assets/noBorder.png');
  height: 100%;
  border-radius: 50%;
  width: 54%;
  background-size: cover;
  margin-left: 2%;
}

.footer-container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #D49B7E;
}