.home-container {
  height: 100vh;
  width: 100vw;
  background-color: #DDB8A6;
}

.nav-container {
  background-image: linear-gradient(to bottom, #d49b7e 0%, #ddb8a6 95%);
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 2px #D49B7E solid; */
  color: #893504;
}

h3 {
  height: 50%;
  margin: 2%;
}

.nav-link-container {
  height: 90%;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.link {
  height: 25%;
  background-color: transparent;
  border: none;
}

.main-container {
  height: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #893f04;
}

.info-section {
  height: 70%;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
}

.info-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 70%;
}

.hello {
  height: 10%;
}

.intro {
  height: 5%;
}

.blurb {
  height: 60%;
  width: 100%;
}

.circle-link-container {
  height: 30%;
  width: 81%;
  display: flex;
  flex-direction: row;
}

.circle {
  height: 90%;
  width: 30%;
  border-radius: 50%;
  margin: 5%;
  background-color: #c67f43;
  border: #893f04;
  color: #893f04;
  text-align: center;
  font-weight: 800;
}

.image-section {
  height: 80%;
  width: 45%;
  display: flex;
  justify-content: center;
}

.image {
  background-image: url('/public/assets/noBorder.png');
  height: 100%;
  border-radius: 50%;
  width: 76%;
  background-size: contain;
  /* margin-left: 2%; */
  border: 2px solid #d49b7e
}

.footer-container {
  background-image: linear-gradient(to top, #d49b7e 0%, #ddb8a6 95%);
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 7%;
  /* border-top: 1px solid #D49B7E; */
}